*.pyc
*~
*.pdf
.DS_Store
doc/_build
build
TAGS
*.cache
*.pkl
*.bbl
*.blg
*.aux
*.log
*.nav
*.out
*.snm
*.toc
/reports/poster/Robert_Vaughn_David_McCallum_Man_from_UNCLE_1966.JPG.1
/reports/poster/a0header.ps
/reports/poster/sim_figs
/reports/poster/figs
/reports/ut_2_17/figs
/reports/ut_2_17/static_figs
/reports/ut_2_17/ui*.py
/reports/ut_2_17/ui_temp.py.orig
/reports/notes/sim_figs_made
_build/
.coverage
